# AWS Environment
AWS_REGION=ap-southeast-1
AWS_DEFAULT_REGION=ap-southeast-1

# Application Resources
BUCKET_NAME=your-bucket-name-here
JOB_TABLE_NAME=your-dynamodb-table-name-here

# Configurations
EXPIRY_MINUTES=15
LOG_LEVEL=INFO
