{
  "ApiFunction": {
    "BUCKET_NAME": "your-bucket-name",
    "JOB_TABLE_NAME": "your-job-table-name",
    "EXPIRY_MINUTES": "15",
    "LOG_LEVEL": "INFO"
  },
  "CsvProcessorFunction": {
    "BUCKET_NAME": "your-bucket-name",
    "JOB_TABLE_NAME": "your-job-table-name",
    "LOG_LEVEL": "INFO"
  }
}
